.section{

  @include section();

  @media screen and(min-width:1200px) {
    @include section(94px, 94px);
  }
  
}


.container {
  margin: 0 auto;
  max-width:480px;
  padding: 0 15px;

  @media screen  and (min-width:768px){
    max-width: 768px;
  }

  @media screen  and (min-width:1200px){
    max-width:1200px;
  }
  
}
