:root {
    --brand-color--: #2196f3;
    --main-color--: #ffffff;
    --description-color--: #757575;
    --backgrs-color--: #2f303a;
    --header-color--: #212121;
    --bleack-color--: #000000;
    --back-color--: #f5f4fa;
    --icon-client: #afb1b8;
    --timing: 250ms;
  }
  