.portfolio {
    margin: 0 auto;
  }
  
  .filter-heading {
    visibility: hidden;
    height: 0;
  }

  .project-items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .project-link {
    display: block;
  }
  
  .project-item {
    width: 370px;
  }
  
  .img-bloc {
    position: relative;
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--main-color--);
    transform: translateY(100%);
    transition-property: transform, color;
    transition-duration: var(--timing);
  }
  
  .project-link:hover,
  .project-link:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
  
  .project-link:hover .overlay,
  .project-link:focus .overlay {
    transform: translateY(0);
  }
  
  .project-border {
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 20px 24px;
  }
  
  .project-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--header-color--);
  }
  
  .project-type {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--description-color--);
    margin-top: 4px;
  }
  